@import url('https://fonts.cdnfonts.com/css/cormorant-infant');

html{
    scroll-behavior: smooth;
}
*{
    box-sizing: border-box;
    margin: 0;
    font-family: 'Cormorant Infant', sans-serif;
    color: #000000;
}
body{
    
}
main{
    background: url(./img/main_photo1.jpg);
    background-attachment: fixed;
}
h2{
    font-style: normal;
    font-weight: 700;
    font-size: 4.875rem;
    line-height: 5.875rem;
    text-align: center;
}
/* Header */
header{
    width: 100%;
    padding-top: 12px;
    padding-bottom: 12px;
    display: flex;
    align-items: center;
    justify-content: center;
}
ul{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 57px;
}
header ul li {
    list-style: none;
}
header ul li a{
    text-decoration: none;
    text-transform: uppercase;
    font-style: normal;
    font-weight: 700;
    font-size: 2.25rem;
    line-height: 2.75rem;
    text-align: center;
    color: #4e4e4e;
}
/* Welcome section */
.welcome_section{
    margin-top: 73px;
    margin-bottom: 287px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.welcome_section p{
    font-style: normal;
    font-weight: 700;
    font-size: 8rem;
    line-height: 88.6%;
    text-align: center;
    color: #FFFFFF;
    filter: drop-shadow(16px 16px 10px black);
}
.welcome_section>img{
    filter: drop-shadow(16px 16px 10px black);
}
/* Products section */
.products_section{
    background: rgba(204, 204, 204, 0.56);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 35px;
    padding-bottom: 35px;
}

.products_section article{
    margin-top: 52px;
    width: 87%;
    display: flex;
    padding-top: 79px;
    padding-bottom: 45px;
    justify-content: space-around;
    background: rgba(33, 54, 12, 0.76);
    border-radius: 74px;
}
.second_article{
    flex-direction: row-reverse;
}
article div{
    width: 844px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}
article div p{
    font-style: normal;
    font-weight: 500;
    font-size: 43px;
    line-height: 52px;
    color: #ffffff;
}
button{
    cursor: pointer;
    width: fit-content;
    text-align: center;
    padding: 14px 86px;
    border: none;
    background: #132b05;
    border-radius: 28px;
}
button a{
    font-style: normal;
    font-weight: 400;
    font-size: 71px;
    line-height: 86px;
    text-align: center;
    color: #FFFFFF;
    text-decoration: none;
}
/* Section about company */
.about_section{
    background: rgba(204, 204, 204, 0.56);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 35px;
    padding-bottom: 35px;
}
.circle{
    width: 42px;
    height: 42px;
    background: #214410;
    border-radius: 50%;
}
.history{
    margin-top: 64px;
    display: flex;
    align-items: center;
    gap: 50px;
}
.history>p{
    width: 1300px;
    font-style: normal;
    font-weight: 600;
    font-size: 45px;
    line-height: 54px;
    text-align: center;
}
.point_in_history{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.point_in_history p{
    font-style: normal;
    font-weight: 600;
    font-size: 45px;
    line-height: 54px;
    text-align: center;
}
/* Why choose us section */
.why_us_section{
    background: rgba(204, 204, 204, 0.56);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 35px;
    padding-bottom: 35px;
}
.wrapper{
    margin-top: 95px;
    display: flex;
    align-items: center;
    gap: 158px;
}
.wrapper div{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 56px;
}
.wrapper img{
    width: 266px;
}
.wrapper p{
    font-style: normal;
    font-weight: 500;
    font-size: 44px;
    line-height: 53px;
    text-align: center;    
}
/* Delivery section */
.delivery_section{
    background: rgba(204, 204, 204, 0.56);
    display: flex;
    padding-top: 35px;
}
.delivery_section img{
    border-radius: 0 62px 62px 0;
}
.delivery_text{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}
table{
    margin-top: 60px;
    width: 80%;
}
tr{
    height: 83px;
}
td{
    font-style: normal;
    font-weight: 600;
    font-size: 45px;
    line-height: 54px;
    text-align: center;
    border-bottom: 2px solid #064406;
}
/* Footer */
footer{
    display: flex;
    flex-direction: column;
    align-items: center;
    background: #151515;
    padding-top: 40px;
    padding-bottom: 40px;
}
footer>p{
    margin-top: 33px;
    font-style: normal;
    font-weight: 700;
    font-size: 46px;
    line-height: 56px;
    text-align: center;
    color: white;
}
.contact_wrapper{
    width: 90%;
    display: flex;
    justify-content: space-between;
}
.small_logo{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.small_logo img{
    width: 365px;
}
.small_logo p{
    color: white;
    font-style: normal;
    font-weight: 700;
    font-size: 46px;
    line-height: 88.6%;
    text-align: center;
    text-shadow: 0px 4px 28px #000000;
}
.contacts p{
    color: white;
    font-style: normal;
    font-weight: 700;
    font-size: 46px;
    line-height: 56px;
}